@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.brand {
    font-size: 22px;
}
.navbar-brand {
    color: #3E3E3E;
}

.container-fluid {
    padding: 0;
}

.moment-title {
    color: #0A0826;
}

.mytoast {
    position: fixed;
    top: 60%;
    right: 0;

    border-left: 10px solid #007CFFA1;
}

.client-name, .client-designation {
    font-size: 14px;
}

.my-card {
    border: none;
}

.card-body p {
    color: #6C6C6C;
}